---
layout: default
title: Blog
---

Hi, I'm a computer science enthusiast who loves to code and thrives on the internet. My recent interests are computational complexity theory, cryptocurrencies, open source software and playing the piano.

When not being lazy, I occasionally blog about some of my favorite topics.
<hr style="border:none;border-top:1px dashed #bbb;">

<div class="posts">
  <table width="100%">
    <tr>
      <td colspan="2">
        <h4 class="category-title">Posts</h4>
      </td>
    </tr>
  {% for post in site.posts %}
    <!-- {% unless post.next %}
      <tr>
        <td colspan="2">
          <h4 class="category-title">{{ post.date | date: '%Y' }}</h4>
        </td>
      </tr>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
      <tr>
        <td colspan="2">
          <h4 class="category-title">{{ post.date | date: '%Y' }}</h4>
        </td>
      </tr>
      {% endif %}
    {% endunless %} -->
    <tr>
      <td>
        <a class="about-link" href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a>
      </td>
      <td class="date">
        {{ post.date | date: "%b %e, %Y" }}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
