<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Right side. -->
      {% if site.footer-links.linkedin %}
        <a class="about-link" href="https://scholar.google.com/citations?user={{ site.footer-links.scholar }}">
          <i class="fas fa-lg fa-graduation-cap fa-pull-right" style="color:#444"></i>
        </a>
      {% endif %}
      {% if site.footer-links.linkedin %}
        <a class="about-link" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
          <i class="fab fa-lg fa-linkedin fa-pull-right" style="color:#0077b5"></i>
        </a>
      {% endif %}
      {% if site.footer-links.github %}
        <a class="about-link" href="https://github.com/{{ site.footer-links.github }}">
          <i class="fab fa-lg fa-github fa-pull-right" style="color:#333;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.telegram %}
        <a class="about-link" href="https://t.me/{{ site.footer-links.telegram }}">
          <i class="fab fa-lg fa-telegram-plane fa-pull-right" style="color:#0088CC;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.facebook %}
        <a class="about-link" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
          <i class="fas fa-lg fa-facebook-official fa-pull-right" style="color:#3b5998;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.lastfm %}
        <a class="about-link" href="https://www.last.fm/user/{{ site.footer-links.lastfm }}">
          <i class="fas fa-lg fa-lastfm pull-left" style="color:#D51007;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.twitter %}
        <a class="about-link" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
          <i class="fas fa-lg fa-twitter fa-pull-right" style="color:#00aced;"></i>
        </a>
      {% endif %}

      <!-- Left side. -->
      {% if site.footer-links.rss %}
        <a class="about-link" href="{{ site.baseurl }}/feed.xml">
          <i class="fas fa-lg fa-rss fa-pull-left" style="color:#f26522;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.keybase %}
        <a class="about-link" href="{{ site.baseurl }}/pgpkey">
          <i class="fas fa-lg fa-fingerprint fa-pull-left" style="color:#c77;"></i>
        </a>
      {% endif %}
      {% if site.footer-links.email %}
        <a class="about-link" href="mailto:{{ site.footer-links.email }}">
          <i class="fas fa-lg fa-envelope fa-pull-left" style="color:#666;"></i>
        </a>
      {% endif %}
    </div>

  </div>

</footer>
