<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      {% if site.footer-links.github %}<a class="about-link" href="https://github.com/{{ site.footer-links.github }}"><i class="ficon fa fa-lg fa-github fa-pull-left" style="color:#333;"></i></a>{% endif %}
      {% if site.footer-links.linkedin %}<a class="about-link" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="ficon fa fa-lg fa-linkedin-square fa-pull-left" style="color:#0077b5"></i></a>{% endif %}
      {% if site.footer-links.facebook %}<a class="about-link" href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="ficon fa fa-lg fa-facebook-official fa-pull-left" style="color:#3b5998;"></i></a>{% endif %}
      {% if site.footer-links.lastfm %}<a class="about-link" href="https://www.last.fm/user/{{ site.footer-links.lastfm }}"><i class="ficon fa fa-lg fa-lastfm pull-left" style="color:#D51007;"></i></a>{% endif %}
      {% if site.footer-links.twitter %}<a class="about-link" href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="ficon fa fa-lg fa-twitter fa-pull-left" style="color:#00aced;"></i></a>{% endif %}

      {% if site.footer-links.rss %}<a class="about-link" href="{{ site.baseurl }}/feed.xml"><i class="ficon fa fa-lg fa-rss fa-pull-right" style="color:#f26522;"></i></a>{% endif %}
      {% if site.footer-links.keybase %}<a class="about-link" href="{{ site.baseurl }}/pgpkey"><i class="ficon fa fa-lg fa-key fa-pull-right" style="color:#a00;"></i></a>{% endif %}
      {% if site.footer-links.email %}<a class="about-link" href="mailto:{{ site.footer-links.email }}"><i class="ficon fa fa-lg fa-envelope fa-pull-right" style="color:#666;"></i></a>{% endif %}
    </div>

  </div>

</footer>
