
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkestGray: #222;
$darkerGray: #333;
$darkGray: #444;
$gray: #666;
$lightGray: #eee;
$white: #fff;

/* Font stacks. */
/* Regular text. */
$helvetica: 'IBM Plex Sans', sans-serif;

/* Handwritten font. */
$handwritten: 'Indie Flower', cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
