---
---

<div class="row">
  <div class="col-sm-1 abbr">
  {% if entry.abbr %}
    <abbr class="badge">
    {% if site.data.venues[entry.abbr] %}
    <a href="{{ site.data.venues[entry.abbr].url }}">{{entry.abbr}}</a>
    {% else %}
    {{ entry.abbr }}
    {% endif %}
    </abbr>
  {% endif %}
  </div>
  <div id="{{entry.key}}" class="col-sm-10">
    <div class="title">
      {% if entry.url %}
        <a href="{{ entry.url }}">{{entry.title}}</a>
      {% else %}
        {{entry.title}}
      {% endif %}
    </div>
    <span class="author">
      {% for author in entry.author_array %}
        {% assign author_is_self = false %}
        {% if author.last == site.scholar.last_name%}
          {% if site.scholar.first_name contains author.first%}
            {% assign author_is_self = true %}
          {% endif %}
        {% endif %}
        {% assign coauthor_url = nil %}
        {% if site.data.coauthors[author.last] %}
          {% for coauthor in site.data.coauthors[author.last] %}
            {% if coauthor.firstname contains author.first %}
              {% assign coauthor_url = coauthor.url %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
        
        {% if coauthor_url %}
          <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>{% if forloop.last == false %}, {% else %}. {% endif %}
        {% else %}
          {{author.first}} {{author.last}}{% if forloop.last == false %}, {% else %}. {% endif %}
        {% endif %}
      {% endfor %}
      </span>

    <span class="periodical">
    {% if entry.type == "article" or entry.type == "prearticle" %}
      {{entry.journal}}{% elsif entry.type == "inproceedings" %}{{entry.booktitle}}, {{entry.series}}{% endif %}{% if entry.volume %}  Vol. {{entry.volume}}{% endif %}{% if entry.pages %}{{entry.pages}}{% endif %}{% if entry.year %}, {{entry.year}}{% endif %}{% if entry.comments %} {{entry.comments}}{% endif %}
    </span>

    <div class="links">
    {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">Abstract</a>
    {% endif %}
    {% if entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
    {% endif %}
    {% if entry.preprint %}
      {% if entry.preprint contains '://' %}
      <a href="{{ entry.preprint }}" class="btn btn-sm z-depth-0" role="button">Preprint</a>
      {% else %}
      <a href="{{ entry.preprint | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Preprint</a>
      {% endif %}
    {% endif %}
    {% if entry.pdf %}
      {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
      {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
      {% endif %}
    {% endif %}
    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
      {% endif %}
    {% endif %}
    {% if entry.blog %}
      <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/posters/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
      {% endif %}
    {% endif %}
    {% if entry.slides %}
      {% if entry.slides contains '://' %}
      <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
      {% else %}
      <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn btn-sm z-depth-0" role="button">Slides</a>
      {% endif %}
    {% endif %}
    {% if entry.talk %}
      {% if entry.talk contains '://' %}
      <a href="{{ entry.talk }}" class="btn btn-sm z-depth-0" role="button">talk</a>
      {% else %}
      <a href="{{ entry.talk | prepend: '/assets/talk/' | relative_url }}" class="btn btn btn-sm z-depth-0" role="button">talk</a>
      {% endif %}
    {% endif %}
    {% if entry.website %}
      <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
    {% endif %}
    <!-- <a class="bibtex btn btn-sm z-depth-0" role="button">Bibtex</a> -->
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    <!-- <div class="bibtex hidden">
      <pre>{{ entry.bibtex }}</pre>
    </div> -->
  </div>
</div>
