<!DOCTYPE html>
<html lang="en" class="h-100">

  {% include head.html %}

  <body class="d-flex flex-column h-100">
    {% include nav.html %}
    <div class="container">
        {{ content }}
    </div>

    <!-- <hr> -->
    <br>
    {% include footer.html %}

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="{{ "/js/jquery-3.4.1.slim.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
