---
layout: default
# The home page layout
---

<div class="row" style="padding-left:0;justify-content:center;!important;">
  <div class="col-11 col-md-10 col-xl-8">
    <div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
      <div id="homediv">
        <p class="text-justify">
            I will be starting a Ph.D. in computer science at <a href="https://uwaterloo.ca/">UWaterloo</a> with Profs. <a href="http://www1.icsi.berkeley.edu/~kfount/">Kimon Fountoulakis</a> and <a href="http://people.math.harvard.edu/~aukosh/">Aukosh Jagannath</a> in Fall 2020. Prior to this I was an M.Math. student with the <a href="http://algcomp.uwaterloo.ca/">algorithms group</a>, advised by Prof. <a href="https://cs.uwaterloo.ca/~shallit/">Jeffrey Shallit</a>.
        </p>
        <p class="text-justify">
            Previously (2016-2018) I was at <a href="https://microsoft.com/">Microsoft</a> in the <a href="https://azure.microsoft.com/en-us/product-categories/compute/">Azure Compute</a> ecosystem where I worked on <a href="https://azure.microsoft.com/en-us/services/azure-migrate/">migration</a> and <a href="https://azure.microsoft.com/en-us/services/site-recovery/">replication</a> of virtual & physical machines and datacenters. I graduated with a computer science major from <a href="http://iitj.ac.in/">IIT Jodhpur</a>.
        </p>
        <p class="text-justify">
            As an undergrad, I've been an avid sports programmer and participated in several competitions including <a href="http://icpc.baylor.edu">ACM-ICPC</a>, <a href="https://codingcompetitions.withgoogle.com/codejam">Code Jam</a>, <a href="https://www.facebook.com/hackercup/contest">HackerCup</a>, and contests on CodeForces and HackerRank. I've also played <a href="https://ctftime.org/ctf-wtf/">CTF</a> style hacking contests including <a href="https://inctf.in/">InCTF</a>, <a href="https://capturetheflag.withgoogle.com/">Google CTF</a>, <a href="https://fbctf.com/">Facebook CTF</a> and <a href="https://ctftime.org/event/list/">others</a>.
        </p>

        <h2 style="border-bottom:1px dashed rgba(0, 0, 0, 0.4);">Updates</h2>
            <ul class="updates-list">
                <li>Volunteering for <a href="http://acm-stoc.org/stoc2020/">STOC 2020</a>.</li>
                <li>Master's <a href="https://uwspace.uwaterloo.ca/handle/10012/15845">thesis</a> published at UWSpace.</li>
            </ul>
        </div>
    </div>
  </div>
</div>
