---
layout: default
# The posts' layout
---

<script>
document.addEventListener('DOMContentLoaded', function(){
  function stripcdata(x) {
    if (x.startsWith('% <![CDATA[') && x.endsWith('%]]>'))
      return x.substring(11,x.length-4);
    return x;
  }
  document.querySelectorAll("script[type='math/tex']").forEach(function(el){
    el.outerHTML = "\\(" + stripcdata(el.textContent) + "\\)";
  });
  document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el){
    el.outerHTML = "\\[" + stripcdata(el.textContent) + "\\]";
  });
}, false);
window.MathJax = {
  options: {
    renderActions: {
      findScript: [9, function (doc) {
        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
          const display = !!node.type.match(/; *mode=display/);
          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
          const text = document.createTextNode('');
          node.parentNode.replaceChild(text, node);
          math.start = {node: text, delim: '', n: 0};
          math.end = {node: text, delim: '', n: 0};
          doc.math.push(math);
        }
        doc.findMath();
      }, '']
    }
  }
};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<div class="row" style="margin-top:2%;">
  <div id="post-wrapper" class="col-12 col-lg-11 col-xl-8">

    <div class="post pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

      <h1 data-toc-skip>{{ page.title }}</h1>

      <div class="post-meta text-muted d-flex flex-column">
        <!-- Published date and author -->
        <div>
          Posted
          <span class="timeago" data-toggle="tooltip" data-placement="bottom"
           title="{{ page.date | date: site.data.date_format.tooltip }}">
            {{ page.date | date: site.data.date_format.post }}
            <i class="unloaded">{{ page.date | date_to_xmlschema }}</i>
          </span>
          by
          <span class="author">
          {% if page.author %}
            {{ page.author }}
          {% else%}
            {{ site.author }}
          {% endif %}
          </span>
        </div>

        <!-- lastmod -->
        {%- capture filename -%}
          {{ page.url | split: "/" | last }}
        {%- endcapture -%}

        {% assign record = site.data.updates | where: "filename", filename | first %}

        {% if record %}
        <div>
          Updated
          <span class="timeago lastmod"
            data-toggle="tooltip" data-placement="bottom"
             title="{{ record.lastmod | date: site.data.date_format.tooltip }}">
            {{ record.lastmod | date: site.data.date_format.post }}
            <i class="unloaded">{{ record.lastmod | date_to_xmlschema}}</i>
          </span>
        </div>
        {% endif %}

        <!-- page views -->
        {% if site.google_analytics.pv.enabled %}
        <div>
          <span id="pv" class="pageviews"><i class="fas fa-spinner fa-spin fa-fw"></i></span>
          views
        </div>
        {% endif %}

      </div> <!-- .post-meta -->

      <div class="post-content">

        {% if page.image %}
          <img src="{{ page.image }}">
        {% endif %}

        {{ content }}

      </div>

      <div class="post-tail-wrapper text-muted">
        <div class="post-tail-bottom
          d-flex justify-content-between align-items-center pt-5 pb-2">
          {% include post-sharing.html %}
        </div><!-- .post-tail-bottom -->

      </div><!-- div.post-tail -->

    </div> <!-- .post -->

  </div> <!-- #post-wrapper -->

  {% include panel.html %}

</div> <!-- .row -->

<div class="row">
  <div id="post-extend-wrapper" class="col-12 col-lg-11 col-xl-8">

    <div class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

      {% include post-nav.html %}

      {% if site.disqus.comments and page.comments %}
        {% include disqus.html %}
      {% endif %}

    </div> <!-- .pl-1 pr-1 -->

  </div> <!-- #post-extend-wrapper -->

</div> <!-- .row -->

{% include lozad.html %}
